<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>LDT</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data1 = google.visualization.arrayToDataTable([
          ['Servidor', 'Uso de disco duro'],
          ['MB libres', {{discoLibre}}],
          ['MB Usados', {{discoUsado}}]
        ]);

        var data2 = google.visualization.arrayToDataTable([
          ['Servidor', 'Uso de Ram'],
          ['MB libres', {{ramLibre}}],
          ['MB Usados',{{ramUsada}}]
         ]);

        var options = {
          title: ''
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('piechart1'));
        var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart1.draw(data1, options);
        chart2.draw(data2, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["gauge"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Memory', 80],
          ['CPU', 55],
          ['Network', 68]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 13000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 5000);
        setInterval(function() {
          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
          chart.draw(data, options);
        }, 26000);
      }
    </script>


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: white">LDT</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <h1 style="text-align:right">
            {% if usuario %}
              <div style="margin-bottom: 25px">
                  <p style="color: white ; font-size: 25px"> Bienvenido {{usuario}} </p>
                  <form action="" method="post">
                    {% csrf_token %}
                    <button id="btn" class="btn btn-danger">Salir</button>
                  </form>
              </div>
            {% else %}
            <form id="AuthenticationForm" class="form-inline" method="post" role="form">
              {% csrf_token %}
              <div style="margin-bottom: 25px" class="input-group">
                <input id="login_username" type="text" class="form-control" name="username" value="" placeholder="usuario">
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <input id="login_password" type="password" class="form-control" name="password" placeholder="contraseña">
              </div>

              <div style="margin-bottom: 25px" class="form-group">
                <div class="col-sm-12 controls">
                  <button id="btn-login" class="btn btn-success">Entrar</button>
                </div>
              </div>
            </form>
            {% endif %}
        </h1>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% if usuario %}
    <div class="jumbotron" style="padding-top:70px">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Uso disco duro</h2>
          <div id="piechart1" style="width: 320px; height: 320px;"></div>
          <p>Disco duro usado: {{discoUsado}} MB<br>
            Disco duro libre: {{discoLibre}} MB
          </p>
          <!--<p><a class="btn btn-default" role="button">View details »</a></p>-->
        </div>
        <div class="col-md-4">
          <h2>Uso Memoria Ram</h2>
          <div id="piechart2" style="width: 320px; height: 320px;"></div>
          <p>Memoria Ram usada: {{ramUsada}} MB<br>
            Memoria Ram libre: {{ramLibre}} MB
          </p>
       </div>
        <div class="col-md-4">
          <h2>Hardware</h2>
          <div id="chart_div" style="width: 400px; height: 120px;"></div>
          <h4>{{modelName}} <br><br> {{MHz}} <br><br> {{cache}} </h4>
        </div>
      </div>
    </div>
    </div>
    {% else %}

    <div class="jumbotron">
      <div class="container">
        <h1>LDT</h1>
        <h2>Linux Deployed Tool</h2>
        <h3>Sistema de control y mantenimiento remoto de equipos con S.O. Linux.</h3> <br> <br>
        Rubén Adrados Bretón <br>
        Mario Ortega Aguayo <br>
        Juan Antonio Moraleda Ocón
      </div>
    </div>
    {% endif %}

    <hr>

    <footer>
      <p style="padding-left: 1%">
        © LDT 2015
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>


</body></html>
