<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>LDT</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./Jumbotron Template for Bootstrap_files/ie-emulation-modes-warning.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">LDT</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <h1 style="text-align:right">
            {% if usuario %}
              <div class="form-group">
                <div class="col-sm-12 controls">
                  Bienvenido {{usuario}}
                  <button id="btn" class="btn btn-danger">Salir</button>
                </div>
              </div>
            {% else %}
            <form id="AuthenticationForm" class="form-inline" method="post" role="form">
              {% csrf_token %}
              <div style="margin-bottom: 25px" class="input-group">
                <input id="login_username" type="text" class="form-control" name="username" value="" placeholder="usuario">
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <input id="login_password" type="password" class="form-control" name="password" placeholder="contraseña">
              </div>

              <div style="margin-top:10px" class="form-group">
                <div class="col-sm-12 controls">
                  <button id="btn-login" class="btn btn-success">Entrar</button>
                </div>
              </div>
            </form>
            {% endif %}
        </h1>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>LDT</h1>
        <p>Linux Deployed Tool</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
      </div>
    </div>
    {% if usuario %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Uso disco hosts</h2>
          <p>{{consulta1}}</p>
          <p><a class="btn btn-default" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Hardware hosts</h2>
          <p>{{consulta2}}</p>
          <p><a class="btn btn-default" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Otra consulta</h2>
          <p></p>
          <p><a class="btn btn-default" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Company 2014</p>
      </footer>
    </div> <!-- /container -->
    {% endif %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./Jumbotron Template for Bootstrap_files/jquery.min.js"></script>
    <script src="./Jumbotron Template for Bootstrap_files/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./Jumbotron Template for Bootstrap_files/ie10-viewport-bug-workaround.js"></script>


</body></html>
